[Unit]
Description=Run org-folder-bkup.service every night.

[Timer]
OnCalendar=daily
Persistent=true
Unit=org-folder-bkup.service

[Install]
WantedBy=timers.target
