[Unit]
Description=Run whatidid-org-export.service every Monday at midnight.

[Timer]
OnCalendar=weekly
Persistent=true
Unit=whatidid-org-export.service

[Install]
WantedBy=timers.target
