* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 11px;
    min-height: 0;
    transition: 0.3s;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

window#waybar.empty #window {
    background: none;
    padding: 0;
    margin: 0;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #11111b;
    transition: 0.3s;
}

#workspaces button {
    padding: 5px;
    color: #798bd1;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a30d49;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 5px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 5px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 5px;
}

#window,
#clock,
#pulseaudio,
#tray,
#custom-power,
#idle_inhibitor,
#workspaces {
    background: #1e1e2e;
    opacity: 0.8;
    margin: 0;
    margin-top: 5px;
    border: 1px solid #181825;
}


#workspaces {
    background: #1e1e2e;
    border-radius: 5px;
    padding-right: 0px;
    padding-left: 5px;
    margin-left: 5px;
}

#window {
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
    border-radius: 5px;
    padding: 0px 10px;
}

#clock {
    color: #fab387;
    border-radius: 5px;
    margin-left: 5px;
    border-right: 0px;
    transition: 0.3s;
    padding: 0px 10px;
}

#custom-power {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
}
#idle_inhibitor {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 15px;
    margin-right: 5px;
    border: 0;
}

#tray {
    border-radius: 5px;
    padding: 0px 10px;
    margin-left: -5px;
    margin-right: 5px;
}
